{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 version",
            "> 1%",
            "IE 10"
          ]
        },
        // 根据代码逻辑中用到的ES6+语法进行方法的导入，而不是全部导入
        // "useBuiltIns": "usage", // 276K
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
],
 "plugins": ["react-hot-loader/babel"] // 260k
}