.editor {
    &-box {
        position: relative;
        height: 100%;
    }
    &-tools {
        height: 40px;
        background-color: #c6ccd2;
        border-bottom: 1px solid;
        padding: 0 @basePadding;
    }
    &-content {
        position: relative;
        height: calc(100% - 40px);
    }
    &-left-aside {
        float: left;
        height: 100%;
        width: 210px;
        border-right: 1px solid @base;
    }
    &-right-aside {
        position: absolute;
        top: 0;
        left: 0;
    }
    &-container {
        height: 100%;
        margin-left: 210px;
    }
    &-warp {
        position: relative;
        z-index: 10;
        height: 100%;
        width: 100%;
    }
}
.graph {
    display: inline-block;
    margin-bottom: 5px;
    &:not(:nth-child(4n+1)) {
        margin-left: 9px;
    }
}