.editor-box {
  height: 100%;
}
.editor-tools {
  height: 40px;
  background-color: #c6ccd2;
  border-bottom: 1px solid;
  padding: 0 @basePadding;
}
.editor-content {
  position: relative;
  height: calc(100% - 40px);
}
.editor-left-aside {
  float: left;
  height: 100%;
  width: 210px;
  border-right: 1px solid @base;
}
.editor-warp {
  height: 100%;
  margin-left: 210px;
}
.editor-right-aside {
  position: absolute;
  top: 0;
  left: 0;
}
.graph {
    display: inline-block;
    margin-bottom: 5px;
    &:not(:nth-child(4n+1)) {
        margin-left: 9px;
    }
}
.graph-detail {
    &-box {
        position: fixed;
        top: 0;
        left: 215px;
        z-index: 10;
    }
    &-content {
        padding: 10px 10px;
        border: 1px solid #c6ccd2;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 0px #244462;
        background-color: #fafafa;
    }
    &-svg {
        margin-bottom: 5px;
    }
    &-title {
        color: #244462;
        text-align: center;
    }
}