.scroll-box {
  position: relative; 
  height: 100%;
  &.hover-thumb {
      .scroll-vertical-thumb, .scroll-horizontal-thumb {
        transition: all 0.2s;
        opacity: 0;
      }
      &:hover .scroll-vertical-thumb, &:hover .scroll-horizontal-thumb {
          opacity: 1;
      }
  }
}
.scroll-vertical-bar-box {
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 3px; 
  z-index: 3;
}
.scroll-vertical-bar {
  width: 5px; 
  height: 100%; 
  border-radius: 3px;
}
.scroll-vertical-thumb {
  transform: translateY(0px); 
  background-color: #ddd; 
  width: 5px;
  border-radius: 3px;
}
.scroll-horizontal-bar-box {
  width: 100%;
  position: absolute; 
  bottom: 3px; 
  left: 0; 
  z-index: 3;
}
.scroll-horizontal-bar {
  width: 100%; 
  border-radius: 3px;
}
.scroll-horizontal-thumb {
  transform: translateX(0px); 
  background-color: #ddd; 
  width: 0; 
  height: 5px;
  border-radius: 3px;
}
.scroll-content {
  height: 100%;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

