.transform {
    &-box {
        position: absolute;
    }
    &-body {
        position: relative;
    }
    &-tools {
        position: absolute;
    }
    &-tool {
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #ddd;
    }
}