// 背景基础色
@backgroundBaseColor: #244462;
// 背景浅色
@backgroundLightColor: #fcfcfc; 
// 背景白色
@backgroundWhiteColor: #fff;
// 背景灰色
@backgroundGrayColor: #c6ccd2;
// 基础左右内边距
@basePadding: 10px;
// 字体基础色
@fontBaseColor: #303133;
// 字体禁用色
@fontDisabledColor: #e8e8e8;
// 边框基础色
@borderBaseColor: #607D8B;
// 导航高度
@navHeight: 60px;