.button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 3px;
    &:hover:not(.disabled), &.active:not(.disabled) {
        background-color: #d7dadf;
    }
    &.active:not(.disabled) {
        box-shadow: 0 0 3px #ccc;
    }
    &.disabled {
        color: #e8e8e8;
        cursor: no-drop;
    }
    &_warp {
        display: inline-block;
        line-height: 1;
    }
}